<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Http(s) Validator</title>
</head>
<body>
<form action="">
    <table>
        <tr>
            <td>
                Http(s) URL: <input name="url" size="20">
            </td>
        </tr>
        <tr>
            <td>
                Process JavaScript <input type="radio" name="processJavaScript" value="false" checked/> No
                <input type="radio" name="processJavaScript" value="true"/> Yes
            </td>
        </tr>
        <tr>
            <td>
                Check availability of linked resources
                <input type="radio" name="checkAvailability" value="false" checked/> No
                <input type="radio" name="checkAvailability" value="true"/> Yes
            </td>
        </tr>
        <tr>
            <td>
                Max pages to check:
                <input type="text" name="maxVisitPages" value="10"/>
            </td>
        </tr>
        <tr>
            <td>
                Politeness delay (ms) <input type="text" name="politenessDelayMilliseconds" value="1000"/>
            </td>
        </tr>
        <tr>
            <td>
                Timeout per page (ms) <input type="text" name="timeoutMilliseconds" value="1000"/>
            </td>
        </tr>
        <tr>
            <td>
                Global timeout (ms) <input type="text" name="globalTimeoutMilliseconds" value="20000"/>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Analyse"/>
            </td>
        </tr>


    </table>
</form>

{{#url}}
<b>Url</b>: {{url}} <br/>
<b>Html Version</b>: {{#htmlVersion}}{{htmlVersion}}{{/htmlVersion}}
{{^htmlVersion}}No version info{{/htmlVersion}}<br/>
<b>Title</b>: {{title}} <br/>
<b>Is login form</b>: {{isLoginForm}} <br/>
{{#errorMessage}} <b>Error message</b>: {{errorMessage}}{{/errorMessage}}
<br/>
<table border="1">
    <tr>
        <td colspan="2"><b>Heading</b></td>
    </tr>
    <tr>
        <th>
            Name
        </th>
        <th>
            Amount
        </th>

    </tr>
    {{#headingCounter}}
    <tr>
        <td>{{name}}</td>
        <td>{{amount}}</td>
    </tr>
    {{/headingCounter}}

</table>
<br/>

<table border="1">
    <tr>
        <th>URL</th>
        <th>Reached</th>
        <th>Error message</th>
    </tr>
    <tr>
        <td colspan="3"><b>Internal links: </b> {{internalLinksNumber}}</td>
    </tr>
    {{#internalLinks}}
    <tr>
        <td>{{url}}</td>
        <td>{{reached}}</td>
        <td>{{#errorMessage}}{{errorMessage}}{{/errorMessage}}</td>
    </tr>
    {{/internalLinks}}

    <tr>
        <th>URL</th>
        <th>Reached</th>
        <th>Error message</th>
    </tr>

    <tr>
        <td colspan="3"><b>External links: </b> {{externalLinksNumber}}</td>
    </tr>
    {{#externalLinks}}
    <tr>
        <td>{{url}}</td>
        <td>{{reached}}</td>
        <td>{{#errorMessage}}{{errorMessage}}{{/errorMessage}}</td>
    </tr>
    {{/externalLinks}}
</table>
{{/url}}
</body>
</html>